<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0" />
    <title>{{title}}</title>
</head>
<body>

<!-- <h3>Examples:</h3>
<ul>
<li><a href='/simple'>Simple variable display</a></li>
<li><a href='/complex'>Complex object display</a></li>
<li><a href='/loop'>Using loops with '&#123;&#123;#each&#125;&#125;'</a></li>
<li><a href='/logic'>Logic in your templates with '&#123;&#123;#if&#125;&#125;'</a></li>
</ul> -->

<!-- some value {{someValue}} -->

{{{body}}}

</body>
</html>