<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="public/build/styles/app.min.css" rel="stylesheet"/>
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		    </div>
		    <div class="navbar-collapse collapse">
		        <ul class="nav navbar-nav">
		        </ul>
		        <ul class="nav navbar-nav navbar-left">
		          <li class="home"><a href="home">Home</a></li>
		          <li class="active"><a href="blog">Blog</a></li>
		          <li><a href="contact">Contact</a></li>
		          <li><a href="about">About</a></li>
		        </ul>
		    </div><!--/.nav-collapse -->
	    </div><!--/.container -->
	</div>
	<div class="clear-left"></div>
	{{{body}}}

    
    <div class="container text-center">
        <hr />
        <span>Gareth Fentimen 2016</span>
        <hr />
    </div>
	<!-- Bootstrap core JavaScript
    ================================================== -->    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script type="text/javascript" src="scripts/menu.js"></script>
</body>
</html>