<div class="container">
    <h1>About</h1>
    <div class="row">
        <div class="col-sm-8 col-md-8 pull-left">
            <p>
                I am a software enthusiast and a professional web developer.
                I am proud to have started my career with the Microsoft stack and I have kept up with .NET over the years, leading teams on to .NET core and cloud hosting.
            </p>
            <p>
                Front-end technologies are my speciality. 
                Often .NET teams lack the specialised knowledge to get the most from thier front-ends. 
                So here is where I found my niche starting with jQuery, two way binding frameworks such as Knockout and then, of course, AngularJS.
                More recently I have been working with modern Angular, Azure technologies backend and ReactJS.
            </p>
            
            <p>
                To see what I have been thinking about recently take a look at <a href="/blog">my blog</a> :)
            </p>
        </div>
        <div class="col-sm-4 col-md-4 pull-right">
            <img width="225px" title="me!" alt="A picture of me" src="public/images/websitePhoto.jpg" />
        </div>
    </div>
</div>

<div class="container">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-sm-8 col-md-8 pull-left">If you wish to contact me about opportunities, collaboration or Open Source projects use one of the following:</div>

        <div class="col-sm-4 col-md-4">
            <div class="col-sm-4 col-md-4 text-center"><a href="mailto:mail@gfentimen.com">Email</div>
            <div class="col-sm-4 col-md-4 text-center"><a target="_blank" href="http://twitter.com/gfents">Twitter</a></div>
        </div>
    </div>
</div>

</br>
