<script type="text/javascript" src="scripts/blog.js">
<div ng-app="app">

	<div ng-view></div>

// Really like the idea of a control here which has a subject cloud
// then has the blog posts from that subject loading when you click

	

</div>
