<!-- <div ng-app="app">

<div ng-view></div>

Really like the idea of a control here which has a subject cloud
then has the blog posts from that subject loading when you click

<div ng-controller="BlogContent">
  <div class="slide-animate-container">
    <div class="slide-animate"></div>
  </div>
</div>

</div> -->
<title>{{Title}}</title>
<div class="content">{{Content}}</div>
