<div class="container">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-sm-8 col-md-8 pull-left">If you wish to contact me about opportunities, collaboration or Open Source projects use one of the following:</div>

        <div class="col-sm-4 col-md-4">
            <div class="col-sm-4 col-md-4 text-center"><a href="mailto:mail@gfentimen.com">Email</div>
            <div class="col-sm-4 col-md-4 text-center"><a target="_blank" href="http://twitter.com/gfents">Twitter</a></div>
        </div>
    </div>
</div>