<div class="container">
    <h1>Welcome!</h1>
    <div class="row">
        <div class="col-sm-8 col-md-8 pull-left">
            <p>
                I am a software enthusiast and a professional web developer. I have extensive expertise within the Microsoft .NET space. </p>
            <p>
                I have also developed a passion for JavaScript after working with jQuery and then two way binding frameworks Knockout and then AngularJS.
                More recently I have been exploring NodeJS, modern JavaScript and the ReactJS ecosystem.
            </p>
            
            <p>
                To see what I have been thinking about recently take a look at <a href="/blog">my blog</a> :)
            </p>
        </div>
        <div class="col-sm-4 col-md-4 pull-right">
            <img width="225px" title="me, looking rather sombre!" alt="A picture of me" src="public/images/websitePhoto.jpg" />
        </div>
    </div>
</div> 