<div class="container">
    <h1>Welcome!</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                I am a software enthusiast and a professional web developer.
                So far I have mostly worked with the Microsoft .NET languages serverside, jQuery, Knockout & AngularJS clientside.
                More recently I have been exploring NodeJS.
            </p>
            
            <p>
                To see what I have been thinking about recently take a look at my blog :)
            </p>
        </div>
        <div class="col-md-6">
            <img width="225px" title="me!" alt="A picture of me" src="public/images/websitePhoto.jpg" />
        </div>
    </div>
</div> 